# Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is the organized collection of the data typically stored in a computer system in electronic form.

Differences
> SQL databases are Relational in nature while NoSQL databases are not Relational in nature.

> SQL dtabases are virtically scalable while NoSQL databases are horizontlly scalable which makes NoSQL databases more powerful then SQL databases

> SQL databases are table based database while NoSQL databases are document based, key-value paired based, etc. 

> SQL Databases follow the ACID (Atomicity, Consistency, Isolation, Durability) properties while NoSQL follows the CAP (Consistency, Availability, Partition) properties

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is used to create and modify the structure of objects in a database using the predefined commands and specific syntax

> *CREATE* is used to create a new Table. The following example creates table Customers

    "CREATE TABLE Customers(ID INT, Name VARCHAR(50), Mobile INT)"
    
> *DROP* is used to delete a table. Example - 

    "DROP TABLE Customers"
    
> *ALTER* is used to make changes in the properties of the table example if we have to incrase the size of varchar, making some more rows, deleting some columns, etc,.

    "ALTER TABLE Customers ADD Email varchar(255);"

> *TRUNCATE* is used to delete all the data that we have saves inside our table but the properties of the table is not effected.

    "TRUNCATE TABLE Customers"

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is used to manipulate the database using the commands like Insert, Update and Delete

> *INSERT* is used to insert values inside the table

    "INSERT into TABLE Customers values(12, "yash", 2934, 'yash@gmail.com')"
    
> *UPDATE* is used to update values inside the table

    "UPDATE Customers SET Email = 'yash@yahoo.com' where id = 12"
    
> *DELETE* is used to delete a tuple from our table

    "DELETE FROM Customers where id = 12"

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for DATA Query Language. It is used for grouping involved in SQL.

> SELECT statement is used to select the columns present in the table based on some conditions.

    "SELECT Name from Customers"

# Q5. Explain Primary Key and Foreign Key.

Primary key is the column which is used to uniquely identify every row in the database. This can be either single attribute or a combination of several attributes

Foreign key is the column which is used to establish the link between two tables to control the data that can be stored inside the table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
db = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)

> *cursor()* function help to  keep track of the position in the result set, and allows you to perform multiple operations row by row against a result set, with or without returning to the original table.

> *execute()* function helps to execute the SQL commands using Python

# Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execute of SQL clauses in an SQL query is -
1) FROM - specifies the tables or tables from which data is to be retrieved
2) WHERE - filters the rows based on some specific conditions
3) GROUP BY - groups the rows based on specific columns
4) HAVING - filters the grouped rows based on some conditions
5) SELECT - tells the columns that is